<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
  <p> Your email: <%= @order.email %> </p>
  </td>
  <td> 
  <h4><%= quantity  %></h4> 
  x
  <p> <%= humanized_money_with_symbol product.price %> </p>
  </td>
</tr>
